<a href="/">HOME</a>
<a href="/uploader">Upload</a>
<a href="/deletefile">Delete</a>
<br><hr>
<h1>IBM Object Storage</h1>


<!doctype html>
<html>
   <body>
      {% for row in files %}
         <div style="border: 1px solid #EFEFEF;margin:10px;">
            <h3>Filename : {{row}} </h3>
            <img src="https://assignment03.s3.jp-tok.cloud-object-storage.appdomain.cloud/{{row}}" width="150px"></td>
         </div>
      {% endfor %}
   </body>
   <script>
      window.watsonAssistantChatOptions = {
        integrationID: "af8f10bb-9a66-4daa-a5a4-4e7e2d8205a4", // The ID of this integration.
        region: "eu-gb", // The region your integration is hosted in.
        serviceInstanceID: "f2322ebf-62b5-47f4-8559-b6a18551200c", // The ID of your service instance.
        onLoad: function(instance) { instance.render(); }
      };
      setTimeout(function(){
        const t=document.createElement('script');
        t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
        document.head.appendChild(t);
      });
    </script>
</html>